/Feladat1018/nbproject/private/
/Feladat1018/build/
/Stringmetodgyak/nbproject/private/
/Stringmetodgyak/build/
/rendszaminput/nbproject/private/
/rendszaminput/build/
/Metodusok/nbproject/private/
/Metodusok/build/
/ArayListPelda/nbproject/private/
/ArayListPelda/build/
/KarakterMetodusok/nbproject/private/
/KarakterMetodusok/build/
/Orai1118/nbproject/private/
/Orai1118/build/
/orai11.22/nbproject/private/
/orai11.22/build/
/orai11.22/dist/
