/Feladat1018/nbproject/private/
/Feladat1018/build/
/Stringmetodgyak/nbproject/private/
/Stringmetodgyak/build/
/rendszaminput/nbproject/private/
/rendszaminput/build/
/Metodusok/nbproject/private/
/Metodusok/build/
